body{
    background-color: rgb(35, 99, 64);
    font: normal 17pt Arial;
    
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 50vw;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#res{
    flex-direction: row;
}
